<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BaseApp | Panel</title>
  <%= csp_meta_tag %>
  <!--<script
    type="text/javascript"
    src="https://media.twiliocdn.com/sdk/js/client/v1.8/twilio.min.js"
  ></script>-->
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'panel' %>
</head>
  <body id="app">
</body>

</html>
